<launch>	
	<param name="starting_latitude_init" value="45.621656" />
	<param name="starting_longitude_init" value="9.281552" />
	<param name="starting_h0_init" value="224.616617" />
	
	<param name="crash" value="1" />
	<param name="unsafe" value="5" />

	<node pkg="lla2enu" type="subscriber_node" name="subscriber_front" output="screen" args = "front"/> 

	<node pkg="lla2enu" type="subscriber_node" name="subscriber_obs" output="screen" args = "obs"/> 

	<node pkg="lla2enu" type="client" name="client" output="screen" />

	<node pkg="lla2enu" type="server" name="server" output="screen" />

	<node pkg="rqt_reconfigure" type="rqt_reconfigure" name="rqt_reconfigure"/>

</launch>
